POSTGRES_USER=seu_usuario_postgres
POSTGRES_PASSWORD=sua_senha_postgres
POSTGRES_DB=nome_do_banco
BACKEND_PORT=3001
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000
ADMIN_SECRET=seu_secret_admin_aqui
JWT_SECRET=seu_jwt_secret_aqui
NEXT_PUBLIC_API_URL=http://localhost:3001/api
